$title-height: 3em;
$days-height: 5em;
$time-width: 3em;
$time-height: 4.5em;
$grid-color: #dadce0;
$calendar-template: $time-width 10px repeat(var(--days-in-week), 1fr);
$current-time-color: #ea4335;
